.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.headline{
  font-size: 3.5em;
  font-family: 'Yde', sans-serif;
  font-weight: 700;

  @media (max-width: 1024px) {
    font-size: 2em;
  }
  @media (max-width: 768px) {
    font-size: 1.5em;
  }
  @media (max-width: 480px) {
    font-size: 1em;
  }
}

.headline-sm{
  background: #00ff85;
  color: #1e1e1e;
  width: 170px;
  padding: 0 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  white-space: nowrap;

  @media (max-width: 1440px) {
    font-size: 2em;
    width: 150px;
  }
  @media (max-width: 1024px) {
    font-size: 1.5em;
    width: 110px;
  }
  @media (max-width: 768px) {
    font-size: 1em;
    width: 80px;
  }
  @media (max-width: 480px) {
    font-size: 0.4em;
    width: 35px;
    border-radius: 3px;
  }
}

.desc {
  font-size: 2em;

  @media (max-width: 1440px) {
      font-size: 1.8em;
  }
  @media (max-width: 1024px) {
    font-size: 1.4em;
    white-space: nowrap;
  }
  @media (max-width: 768px) {
    font-size: 0.7em;
    white-space: nowrap;
  }
  @media (max-width: 480px) {
    font-size: 0.3em;
    white-space: nowrap;
  }
}

.line{
  margin: 0 auto;
  width: 400px;
  height: 1px;
  background: #00ff85;
  @media (max-width: 1440px) {
    width: 300px;
  }
  @media (max-width: 1024px) {
    width: 200px;
  }
  @media (max-width: 768px) {
    width: 100px;
  }
  @media (max-width: 480px) {
    width: 40px;
  }

}

.df{
  font-weight: 700;
  color: #00ff85;
}

.b{
  font-weight: 700;
}

.inner{
  padding: 250px 150px;
  @media (max-width: 1440px) {
    padding: 200px 100px;
  }
  @media (max-width: 1024px) {
    padding: 150px 50px;
  }
  @media (max-width: 768px) {
    padding: 100px 50px;
  }
  @media (max-width: 480px) {
    padding: 40px 30px;
  }
}

.center{
  display: none;
  @media (max-width:1024px) {
    display: block; 
  }
}