@font-face {
  font-family:'garaje';
  src: url(../fonts/garaje-bold.woff2)format('woff2');
}

@font-face {
  font-family:'Satoshi';
  src: url(../fonts/Satoshi-Variable.woff2)format('woff2');
}

@font-face {
  font-family:'Pre';
  src: url(../fonts/Pretendard-SemiBold.woff2)format('woff2');
  font-weight: 600;
}

@font-face {
  font-family:'Pre';
  src: url(../fonts/Pretendard-Regular.woff2)format('woff2');
  font-weight: 400;
}
