@import './common.css';
@import './reset.css';
@import './fonts.css';

/* [헤더] */
#header { position: fixed; top: 0; left: 0; width: 100%; height: 65px; z-index: 100; background: var(--white-); } 
#header .head-inner { height: 100%; padding: 0 20px; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #dad9d7; backdrop-filter: blur(10px); letter-spacing: -0.024px; } 
#header .logo { font-style: italic; } 
#header .logo a:hover { color: var(--red-); } 
#header .gnb * { height: 65px; } 
#header .gnb ul { display: flex; gap: 30px; font-family: var(--font-en); } 
#header .gnb ul li a { display: flex; align-items: center; } 
#header .gnb a:hover { text-underline-offset: 0.3em; text-decoration: underline; text-decoration-color: var(--red-); text-decoration-style: wavy; } 
#header .clock { display: flex; align-items: center; gap: 10px; font-family: var(--font-en); font-size: 12px; } 

/* [푸터] */
#footer { background: var(--black-); color: #fff; } 
#footer .foot-inner { padding-top: 150px; padding-bottom: 200px; } 
#footer .copy { position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; } 
#footer .copy span { font-size: 8vw; line-height: 0.8; font-weight: 600; font-family: var(--font-en); } 
#footer .copy span:nth-child(2) { position: absolute; top: 0; clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%); } 
#footer .copy span:nth-child(3) { position: absolute; top: 0; clip-path: polygon(0 71%, 100% 71%, 100% 100%, 0% 100%); } 

/* [미디어쿼리] */
#header .head-inner2 { display: none; } 

@media (max-width: 1024px){
 #header .head-inner { display: none; } 
 #header .head-inner2 { display: flex; align-items: center; justify-content: space-between; height: 65px; padding: 0 20px; background: var(--black-); color: #dad9d7; } 
 #header .head-inner2 nav { position: fixed; top: 65px; left: 0; background: var(--black-); color: #dad9d7; width: 100%; height: 0; display: none; overflow: hidden; transition: height 0.3s ease; } 
 #header .head-inner2 nav.active { display: block; height: 65px; } 
 #header .head-inner2 ul { display: flex; align-items: center; justify-content: center; gap: 50px; padding: 10px 0; height: 100%; } 
 #header .btn-box { position: relative; width: 40px; height: 65px; display: flex; align-items: center; justify-content: center; } 
 #header .btn-box .close { position: absolute; left: 5px; display: none; } 
 #header .btn-box.on .open { display: none; } 
 #header .btn-box.on .close { display: block; } 
 }
